@import url('https://fonts.googleapis.com/css2?family=Coiny');
html,body,h1,h2,h3,h4,h5,a{
    font-family: 'Coiny',cursive;
}
.navbar{
    background: rgb(35, 12, 240);
    
    }
    .nav-link,.navbar-brand{
        color:#f4f4f4;
        cursor: pointer;
    }
    .nav-link{
        margin-right: 1em !important;
    }
    .nav-link:hover{
        background: #f4f4f4;
        color: #F97300;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-toggler{
        background: #fff !important;
    }
    .bg-dark{
        background-color: #343a40 !important
    }
    .bg-primary{
        background-color: #343a40 !important
    }
